RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

VITE_FIREBASE_API_KEY=AIzaSyBpKN3KNIxQJyw-J20jxlybvsv04lzNqGo
VITE_FIREBASE_APP_ID=1:278345966350:web:1fed825c804aaaeb05ed5f
VITE_FIREBASE_AUTH_DOMAIN=mintoo-37891.firebaseapp.com
VITE_FIREBASE_MEASUREMENT_ID=G-R90EB1P74F
VITE_FIREBASE_MESSAGING_SENDER_ID=278345966350
VITE_FIREBASE_PROJECT_ID=mintoo-37891
VITE_FIREBASE_STORAGE_BUCKET=mintoo-37891.firebasestorage.app
VITE_RAZORPAY_KEY_ID=