VITE_FIREBASE_API_KEY=AIzaSyBDkCRDVMyjpfHbe8ggKFk0UXke_oYWiCg
VITE_FIREBASE_APP_ID=1:561759113989:web:01490e54a3ea7b4e4edd6c
VITE_FIREBASE_AUTH_DOMAIN=food-btm.firebaseapp.com
VITE_FIREBASE_MEASUREMENT_ID=G-3JHGHX6ZDD
VITE_FIREBASE_MESSAGING_SENDER_ID=561759113989
VITE_FIREBASE_PROJECT_ID=food-btm
VITE_FIREBASE_STORAGE_BUCKET=food-btm.firebasestorage.app
VITE_RAZORPAY_KEY_ID=